@mixin user {
  display: block;
  width:100px;
  padding-top:17px;
  text-align:center;
  border:2px solid;
  border-color:black;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 0.7em;
  font-size: 18px;
  background:white;
  font-weight: 600;
  color: black;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@mixin user__animation {
  background:#f3caca;
  transition: 0.2s ;
}
.Top-component{
display: flex;
width: 100%;
height: 100px;
background: #0E347B;
z-index: 10;
            p.anton{
              position: relative;
              left: 300px;
              margin-top: 20px;
              font-family: 'Anton', sans-serif;
              font-size: 35px;
              color: cornflowerblue;
            }
            p.sub{
              position: relative;
              bottom: 20px;
              left: 250px;
              color: white;
              font-weight: bold;
              width: 290px;
              text-align: center;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            } 
            .fas.fa-search{
              position: relative;
              top: 45px;
              left: 50px;
            }
            .search__box{
              margin-top: 30px;
              text-align: center;
              margin-left: 20px;
              width: 300px;
              height: 50px;
              border:2px solid;
              border-color:black;
            }
            .stock_bookmark{
              margin-top: 15px;
              margin-left: 500px;
              color: black;
            }
            .stock_bookmark:hover{
              cursor: pointer;
              transform: scale(1.1, 1.1)
            }
            .user__login{
              @include user
            }
            .user__login:hover{
              @include user__animation
              }
            .fas.fa-user{
              position: relative;
              left: 37px;
              top: 10px;
              font-size: 35px;
              color:white;
            }
            span{
              position: relative;
              top: 50px;
              right: 5px;
              // margin-top: 45px;
              color:white;
            }
            .user__signup{
              @include user
              }
            .user__signup:hover{
              @include user__animation
                }
            .stock-info{
              margin-left: 150px;
              margin-top: 20px;
              margin-bottom: 35px;
              padding-top: 20px;
              display: inline-block;
              max-width: 180px;
              text-align: left;
              border: 3px solid #9ec34b;
              font-size: 16px;
              color: #9ec34b;
              text-decoration: none;
              font-weight: bold;
              padding: 20px 16px;
              border-radius: 4px;
              transition: .4s;
            }
            .stock-info:hover {
              background-color: #9ec34b;
              border-color: #cbe585;
              color: #FFF;
            }
            .entry_button{
              margin-left: 50px;
              margin-top: 20px;
              margin-bottom: 35px;
              padding-top: 20px;
              display: inline-block;
              max-width: 180px;
              text-align: left;
              border: 3px solid #9ec34b;
              font-size: 16px;
              color: #9ec34b;
              text-decoration: none;
              font-weight: bold;
              padding: 20px 16px;
              border-radius: 4px;
              transition: .4s;
            }
            .entry_button:hover {
              background-color: #9ec34b;
              border-color: #cbe585;
              color: #FFF;
            }
}