.Top-component
  %p.anton IT What's new
  %a.btn.btn-info{:href => "#", :role => "button"} ストック
  -# %a.btn.btn-primary{:href => "#", :role => "button"} ログアウト
  %li.entry_button{:style => "float: right"}
    = link_to 'サインアウト', "/users/sign_out", method: :delete
%hr{:noshade => "noshade", :size => "80"}/
.content
  .content__title
    %a.content__title--link{:href => "#"} グーグル、「Python」など学べるオンライン講座--IT業界でのキャリア向上支援
  .content__summary
    %a.content__summary--link{:href => "#"} テクノロジー業界が米国の労働者の雇用状況を変え続けている中、Googleは労働者がこの業界で職を得られるよう支援しようとしている。同社は米国時間1月16日、プログラミング言語「Python」などを学べる新しい講座を発表した。Pythonは多くの企業が求めているスキルだ。
.content
  .content__title
    %a.content__title--link{:href => "#"} 大気企業３社が語る今欲しいエンジニアの条件「2020年以降のエンジニアに最も必要なのは“技術以外”のスキル」【BASE×DMM×SHOWROOM
  .content__summary
    %a.content__summary--link{:href => "#"} 目まぐるしく変化するIT業界において、2020年以降に求められるエンジニア像とは？ そんな問いへの答えを探るため、BASE、DMM、SHOWROOMの人気IT企業３社協力のもと、「エンジニアドラフト会議」を実施！４人の新規事業立ち上げチームをつくってもらった
.content
  .content__title
    %a.content__title--link{:href => "#"} プログラミングを学ぶにあたって詰まったことと、そこから学んだこと
  .content__summary
    %a.content__summary--link{:href => "#"} 簡単にホームページを作れるみたいなサービスを使っていた僕は、なんかとりあえずサイトを賑やかにしたくて色々探していたら「ホームページの背景に雪を降らす」というやつがあり、そのときに出てきた JavaScript というものは一体なんぞや？というところから JavaScript というプログラミング言語を知った。
.content
  .content__title
    %a.content__title--link{:href => "#"} ブロックチェーン活用人材マッチング「職歴BANK」に逆募集の機能追加
  .content__summary
    %a.content__summary--link{:href => "#"} ブロックチェーン特化型コワーキングスペースHashHubに入居するSKILL社は1月16日、同社が提供する人材マッチングサービス「職歴BANK」に、自分がやりたい仕事や職務経歴をSNSに公開して副業募集や企業への売り込みができる「逆募集」機能を追加した。
.content
  .content__title
    %a.content__title--link{:href => "#"} Dain-App Alpha 0.1 - AIを活用したフレーム補完技術を手軽に扱えるツールのアルファ版が公開！
  .content__summary
    %a.content__summary--link{:href => "#"} 「DAIN (Depth-Aware Video Frame Interpolation)」というアルゴリズムを使用し、フレーム補完が可能なツール『Dain-App』のアルファ0.1バージョンがリリースされました。
.content
  .content__title
    %a.content__title--link{:href => "#"} 休日の時間の使い方を考える
  .content__summary
    %a.content__summary--link{:href => "#"} 私が住む福岡県ではいわゆる「IT勉強会」が盛んである。connpassに都道府県ごとのイベントページリストがあるが、福岡県はほぼ毎日のように何かしらの勉強会が開催されている。
.content
  .content__title
    %a.content__title--link{:href => "#"} PythonでAmazonの商品検索アプリの作成
  .content__summary
    %a.content__summary--link{:href => "#"} 管理者権限のない環境で必要なモジュールをインストールし、python言語を使ってAmazonの商品検索api(Amazon Product Advertising API)によりISBN番号で書籍を検索してみました。
