.Top-component
  %p.anton IT What's new
  .stock-info
    = link_to '　ストック　', "#"
  .entry_button
    = link_to 'サインアウト', "/users/sign_out", method: :delete
%hr{:noshade => "noshade", :size => "80"}/
- @infos.each do |info|
  .content
    .content__title
      %a.content__title--link{:href => "#{info.url}"}
        =info.title
    .content__summary
      %a.content__summary--link{:href => "#{info.url}"}
        =info.text